body {
    background-color: #062738;
}

.box {
    background-size: cover;
    width: 500px;
    background: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-blend-mode: difference;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transition: width 1s cubic-bezier(0.815, 0.005, 0.18, 1.005), height 1s cubic-bezier(0.9, 0.005, 0.18, 1.005), background-color 1s cubic-bezier(0.815, 0.005, 0.18, 1.005), background-position 0.6s 0.51s ease;
    transform: translateY(-50%);
}

.box:hover {
    width: 100%;
    height: 50%;
    background-position: -300px 0px;
}

.boxclicked {
    width: 100%;
    height: 50%;
    background-position: -300px 0px;
}

.inactive {
    margin-top: -600px !important;
    margin: 500px;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    transform: rotateY(90deg) translateY(-100px);
}

.hide {
    display: none;
}

.fade {
    opacity: 0 !important;
}

.show {
    display: block;
}

.cube {
    perspective: 800px;
    margin-top: 80px;
    margin-left: 50%;
    transform-style: preserve-3D;
    width: 360px;
    height: 560px;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    transform: rotateY(0deg) rotateX(30deg) rotateZ(-10deg) scale(1);
}

.book_open .cube {
    margin-left: -webkit-calc(50% + 220px) !important;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1) translateY(50px) translateX(-220px);
}

.book_open .cube .cube_front {
    transform: translateZ(5px) rotatey(-179deg);
}

.book_open .cube .page_left {
    transform: translateZ(5px) rotatey(-180deg);
}

.cube_inner {
    width: 420px;
    height: 560px;
    transform-style: preserve-3d;
}

.cube_inner div {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
}

.cube_inner div.cube_front {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform-origin: 1px 0px;
    backface-visibility: hidden;
    transform: translateZ(6px);
    transition: transform 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    background-size: cover !important;
    background: url("../img/book-cover.png");
}

.cube_inner div.page_left {
    perspective: 1000px;
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transform-origin: 1px 0px;
    transition: transform 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    transform: translateZ(5px -1);
    background-size: cover !important;
    background: url("../img/book-cover-inner.png");
}

.cube_inner div.page_right {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform: translateZ(4px);
    background-size: cover !important;
    background: url("../img/book-cover-inner.png");
}

.cube_inner div.page_right .profileHolder {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform: translateZ(4px);
    margin-top: 50px;
    height: 10%;
    background-size: cover !important;
    background-color: red;
}

.cube_inner div.cube_back {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform: translateZ(- 5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.cube_inner div.cube_left {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    width: 100px;
    transform: rotateY(90deg) translateZ(-50px) translateX(50px);
    background: url("../img/book-page.png");
}

.cube_inner div.cube_right {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    width: 100px;
    transform: rotateY(90deg) translateZ(210px -5px);
    background-color: #d80079;
}

.cube_inner div.cube_top {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    height: 50px;
    transform: rotateX(90deg) translateZ(5px) translateY(-50px);
    background-color: #b00063;
}

.cube_inner div.cube_bottom {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    height: 100px;
    transform: rotateX(90deg) translateZ(-500px) translateY(-50px);
    background-color: #fff;
}

.page_right div {
    position: absolute;
    width: 380px;
    height: 520px;
    transform-origin: 100% 100%;
}

.show_content_right {
    margin: 20px;
    background: url("../img/book-page.png");
    z-index: 2;
    transform-origin: 0% 100%;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.default_content_right {
    margin: 20px;
    background: url("../img/book-page-b.png");
    z-index: 0;
    transform-origin: 0% 100%;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.unselected {
    transform: rotate(10deg);
    margin-top: 75px !important;
    margin-left: 20px !important;
    width: 330px !important;
    height: 420px !important;
    background: url("../img/book-page-b.png");
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    z-index: 0;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.ani_select {
    transform: rotate(30deg);
    background: url("../img/book-page.png");
    margin-left: 100px;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.inputContainer {
    width: 60%;
    height: 30px !important;
    line-height: 30px !important;
}

.inputContainer {
    width: 60%;
    height: 30px !important;
    line-height: 30px !important;
}

input {
    width: 60%;
    height: 30px !important;
    line-height: 30px !important;
}

.label {
    margin-left: 300px;
    writing-mode: vertical-rl;
    background: url("../img/label.png");
    padding-top: 50px;
    line-height: 80px;
    width: 80px;
    height: -webkit-calc(100% - 50px);
    display: block !important;
    color: rgb(87, 74, 34);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.unselected .label {
    background: url("../img/label-back.png");
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.form_holder {
    opacity: 1;
    width: -webkit-calc(100% - 80px) !important;
    height: 100% !important;
    display: inline-block !important;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.form_inactive {
    opacity: 0 !important;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.buffer {
    margin: 20px;
    width: 260px !important;
    height: 375px !important;
}

.button_container {
    opacity: 1;
    margin-top: 420px !important;
    margin-left: 30px !important;
    width: 320px !important;
    height: 120px !important;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    z-index: 10;
}

.button_container_inflip {
    margin-top: 500px !important;
    margin-left: 200px !important;
    width: 200px !important;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.button_container div {
    position: relative !important;
    display: inline-block !important;
    margin: auto !important;
}

.binary_selection_approve {
    float: left;
    background: url("../img/button.png");
    color: rgb(87, 74, 34);
    font-size: 35px;
    line-height: 100px;
    text-align: center;
    width: 100px !important;
    height: 100px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.binary_selection_deny {
    float: right;
    background: url("../img/button.png");
    color: rgb(87, 74, 34);
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    width: 100px !important;
    height: 100px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.button_container2 {
    opacity: 1;
    width: 320px !important;
    height: 200px !important;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    z-index: 10;
}

.button_container2 div {
    position: absolute !important;
    display: block !important;
}

.button_container2_active {
    opacity: 1;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.binary_selection_continue {
    background: url("../img/button.png");
    font-size: 40px;
    color: rgb(87, 74, 34);
    line-height: 100px;
    text-align: center;
    margin-left: 40px;
    margin-top: -330px;
    width: 200px !important;
    height: 200px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.binary_selection_end {
    background: url("../img/button.png");
    font-size: 40px;
    color: rgb(87, 74, 34);
    line-height: 100px;
    text-align: center;
    width: 200px !important;
    height: 200px !important;
    left: 120px!important;
    margin-top: -330px!important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.button_container2_active .binary_selection_continue {
    background: url("../img/button.png");
    color: white;
    margin-left: 40px;
    margin-top: 40px;
    width: 200px !important;
    height: 200px !important;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    z-index: 20;
    opacity: 1;
}

.button_container2_active .binary_selection_end {
    color: white;
    width: 200px !important;
    height: 200px !important;
    left: 120px!important;
    margin-top: 300px!important;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    z-index: 20;
    opacity: 1;
}

.show_content_right {
    margin: 20px;
    background-color: #50a3c4;
    z-index: 2;
    transform-origin: 0% 100%;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.default_content_right {
    margin: 20px;
    background-color: #a2f801;
    z-index: 0;
    transform-origin: 0% 100%;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.unselected {
    transform: rotate(10deg);
    margin-top: 75px !important;
    margin-left: 20px !important;
    width: 330px !important;
    height: 420px !important;
    background-color: #a2f801;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    z-index: 0;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.show_content_top {
    position: absolute;
    z-index: 5;
    opacity: 0;
    height: 440px;
    width: 340px;
    background: url("../img/book-page.png");
    background-size: contain;
    margin-top: -600px;
    margin-left: -webkit-calc(50% - 380px) !important;
    transition: all 2s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

#event_image_holder {
    height: 150px !important;
    width: 275px !important;
    margin-bottom: 30px;
    text-align: center;
    line-height: 150px;
    background-color: #66634c;
    opacity: 0;
}

#event_title {
    height: 50px;
    font-size: 40px;
    letter-spacing: 0px;
}

.show_content_top div {
    margin: 10px;
}

.book_open .show_content_top {
    z-index: 5;
    opacity: 1;
    margin-top: 100px !important;
}

.book_open #event_image_holder {
    opacity: 1;
}

.buffer div {
    position: relative !important;
}

.passport_slot {
    margin-left: 5px;
    height: 30px !important;
    width: 90px !important;
    line-height: 30px;
    vertical-align: middle!important;
    color: black;
}

.line_holder {
    position: relative !important;
    margin-bottom: 10px;
    height: 30px !important;
    width: 280px !important;
    color: black;
    vertical-align: middle;
}

.line_holder p {
    height: 30px !important;
    margin-top: -10px !important;
    position: relative !important;
    display: inline-block!important;
    line-height: 30px;
}

.line_holder div {
    display: inline-block;
    position: relative !important;
}

.image_holder {
    height: 150px !important;
    width: 150px !important;
    margin-bottom: 30px;
    text-align: center;
    line-height: 150px;
    background-color: #66634c;
    opacity: 0.5;
}