@font-face {
    font-family: 'Vinque-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Vinque-Regular'), url('../font/vinque.woff') format('woff');
}

@font-face {
    font-family: 'Gingerbread';
    font-style: normal;
    font-weight: normal;
    src: local('Gingerbread Initials'), url('../font/Gingerbread Initials.woff') format('woff');
}

body {
    font-family: 'Vinque-Regular';
    font-size: 20px;
    background-color: #062738;
}

.box {
    background-size: cover;
    width: 500px;
    background: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-attachment: fixed;
    background-blend-mode: difference;
    height: 90%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transition: width 1s cubic-bezier(0.815, 0.005, 0.18, 1.005), height 1s cubic-bezier(0.9, 0.005, 0.18, 1.005), background-color 1s cubic-bezier(0.815, 0.005, 0.18, 1.005), background-position 0.6s 0.51s ease;
    transform: translateY(-50%);
}

.box:hover {
    width: 100%;
    height: 50%;
    background-position: -300px 0px;
}

.boxclicked {
    width: 100%;
    height: 50%;
    background-position: -300px 0px;
}

.inactive {
    margin-top: -600px !important;
    margin: 500px;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    transform: rotateY(90deg) translateY(-100px);
}

.hide {
    display: none;
}

.show {
    display: block;
}

.cube {
    perspective: 800px;
    margin-top: 80px;
    margin-left: 50%;
    transform-style: preserve-3D;
    width: 360px;
    height: 560px;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    transform: rotateY(0deg) rotateX(30deg) rotateZ(-10deg) scale(1);
}

.book_open .cube {
    margin-left: -webkit-calc(50% + 220px) !important;
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1) translateY(50px) translateX(-220px);
}

.book_open .cube .cube_front {
    transform: translateZ(5px) rotatey(-179deg);
}

.book_open .cube .page_left {
    transform: translateZ(5px) rotatey(-180deg);
    background: url("../img/book-cover-inner.png");
}

.cube_inner {
    width: 420px;
    height: 560px;
    transform-style: preserve-3d;
}

.cube_inner div {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
}

.cube_inner div.cube_front {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform-origin: 1px 0px;
    backface-visibility: hidden;
    transform: translateZ(6px);
    transition: transform 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    background-size: cover !important;
    background: url("../img/book-cover.png");
}

.cube_inner div.page_left {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transform-origin: 1px 0px;
    transition: transform 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
    transform: translateZ(5px -1);
    background-size: cover !important;
    background: url("../img/book-cover-inner.png");
}

.cube_inner div.page_right {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform: translateZ(4px);
    background-size: cover !important;
    background: url("../img/book-cover-inner.png");
}

.cube_inner div.page_right .profileHolder {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform: translateZ(4px);
    margin-top: 50px;
    height: 10%;
    background-size: cover !important;
    background-color: red;
}

.cube_inner div.cube_back {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    transform: translateZ(- 5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.cube_inner div.cube_left {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    width: 100px;
    transform: rotateY(90deg) translateZ(-50px) translateX(50px);
    background: url("../img/book-page.png");
}

.cube_inner div.cube_right {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    width: 100px;
    transform: rotateY(90deg) translateZ(210px -5px);
    background-color: #d80079;
}

.cube_inner div.cube_top {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    height: 50px;
    transform: rotateX(90deg) translateZ(5px) translateY(-50px);
    background-color: #b00063;
}

.cube_inner div.cube_bottom {
    position: absolute;
    width: 420px;
    height: 560px;
    transform-origin: 50% 50%;
    height: 100px;
    transform: rotateX(90deg) translateZ(-500px) translateY(-50px);
    background-color: #fff;
}

.page_right div {
    position: absolute;
    width: 380px;
    height: 520px;
    transform-origin: 100% 100%;
}

.show_content_right {
    margin: 20px;
    background: url("../img/book-page.png");
    z-index: 2;
    transform-origin: 0% 100%;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.default_content_right {
    margin: 20px;
    background: url("../img/book-page-b.png");
    z-index: 0;
    transform-origin: 0% 100%;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.unselected {
    transform: rotate(10deg);
    margin-top: 75px !important;
    margin-left: 20px !important;
    width: 330px !important;
    height: 420px !important;
    background: url("../img/book-page-b.png");
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    z-index: 0;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.ani_select {
    transform: rotate(30deg);
    background: url("../img/book-page.png");
    margin-left: 100px;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.inputContainer {
    width: 60%;
    height: 30px !important;
    line-height: 30px !important;
}

.inputContainer {
    width: 60%;
    height: 30px !important;
    line-height: 30px !important;
}

input {
    width: 60%;
    height: 30px !important;
    line-height: 30px !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label {
    margin-left: 300px;
    writing-mode: vertical-rl;
    background: url("../img/label.png");
    padding-top: 50px;
    line-height: 80px;
    width: 80px;
    height: -webkit-calc(100% - 50px);
    display: block !important;
    color: rgb(221, 191, 101);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.unselected .label {
    background: url("../img/label-back.png");
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.form_holder {
    width: -webkit-calc(100% - 80px) !important;
    height: 100% !important;
    display: block !important;
}

.login_form {
    margin: 20px;
}

.login_form_input {
    margin: 5px;
}

.login_form_title {
    font-size: 40px;
}

P.drop-cap:first-letter {
    font-family: 'Gingerbread';
    font-size: 100px;
    float: left;
}

input {
    font-family: 'Vinque-Regular';
    color: rgb(119, 29, 29);
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0);
    border-style: none;
}

.login_form_submit {
    margin-top: 45%;
    margin-left: 200px;
    background: url("../img/button.png");
    font-size: 30px;
    color: rgb(87, 74, 34);
    line-height: 100px;
    text-align: center;
    width: 100px !important;
    height: 100px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}

.unselected .form_holder .login_form_submit {
    opacity: 0;
    margin-top: 45%;
    margin-left: 200px;
    background: url("../img/button.png");
    width: 100px !important;
    height: 100px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(0.815, 0.005, 0.18, 1.005);
}