<!DOCTYPE html>
<html>

<head>
    <title>TSA Simulator</title>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript" src="/js/main.js"></script>

</head>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
    <div id="box1" class="box" clicked="false">

        <div id="loginHolder" class="holder">
            <div class="btnContainer">
                <div class=binaryBtn id=signUpBtn>Sign Up</div>
                <div class=binarySeparator></div>
                <div class=binaryBtnUnclicked id=registerBtn>Register</div>
            </div>
            <div class="big">
                <div id=login class=show>
                    <form>
                        <p>LOGIN</p>
                        <div class="form-group" id=loginInfo>
                            <div class=inputContainer>USERNAME</div>
                            <input id="usernameLogin" type="text" class="form-control"
                                placeholder="User Name (Required)">

                            <div class=inputContainer>PASSWORD</div>
                            <input id="passwordLogin" type="text" class="form-control"
                                placeholder="Password (Required)">
                        </div>
                    </form>
                    <div id="loginSubmitBtn" class="pink">
                        Submit
                    </div>
                </div>
                <div id=register class=hide>
                    <form>
                        <p>REGISTER</p>
                        <div class="form-group" id=loginInfo>
                            <div class=inputContainer>USERNAME</div>
                            <input id="username" type="text" class="form-control" placeholder="User Name (Required)">

                            <div class=inputContainer>PASSWORD</div>
                            <input id="password" type="text" class="form-control" placeholder="Password (Required)">
                        </div>
                    </form>
                    <div id="registerSubmitBtn" class="pink">
                        Submit
                    </div>
                </div>
            </div>
        </div>
        <div id="cube1" class="cube">
            <div class="cube_inner">
                <div class="cube_front"></div>
                <div class="page_left"></div>
                <div class="page_right"></div>
                <div class="cube_back"></div>
                <div class="cube_left"></div>
                <div class="cube_right"></div>
                <div class="cube_top"></div>
                <div class="cube_bottom"></div>
            </div>
        </div>
        <div id="cube2" class="cube inactive hide">
            <div class="cube_inner">
                <div class="cube_front"></div>
                <div class="page_left"></div>
                <div class="page_right">
                    <div id="profileHolder" class="profileHolder">

                    </div>
                </div>
                <div class="cube_back"></div>
                <div class="cube_left"></div>
                <div class="cube_right"></div>
                <div class="cube_top"></div>
                <div class="cube_bottom"></div>
            </div>
        </div>
    </div>
</body>

</html>