<!DOCTYPE html>
<html>

<head>
    <title>TSA Simulator</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>

</head>
<link rel="stylesheet" type="text/css" href="../styles/style_index.css">

<body>
    <div id="box1" class="box" clicked="false">
    </div>
    <div id=book_conatianer clicked="false">
        <div id="cube" class="inactive cube hide">
            <div class="cube_inner">
                <div class="cube_front"></div>
                <div class="page_left">
                </div>
                <div class="page_right">
                    <div id=front_page class="show_content_right" clicked="true">
                        <div class="form_holder">
                            <form id="login_form" class="login_form" action="auth" method="POST">
                                <p class="login_form_input">Login Form</p>
                                <input class="login_form_input" type="text" name="username" placeholder="Username" required>
                                <input class="login_form_input" type="password" name="password" placeholder="Password" required>
                                <div id="login_form_submit" class="login_form_submit" type="submit">Sumbit</div>
                            </form>
                        </div>
                        <p class="label">Login</p>
                    </div>
                    <div id=back_page class="default_content_right" clicked="false">
                        <div class="form_holder">
                            <form id="register_form" class="login_form" action="user/register" method="POST">
                                <p class="login_form_input">Register Form</p>
                                <input class="login_form_input" type="text" name="username" placeholder="Username" required>
                                <input class="login_form_input" type="password" name="password" placeholder="Password" required>
                                <div id="register_form_submit" class="login_form_submit" type="submit">Sumbit</div>
                            </form>
                        </div>
                        <p class="label">Register</p>
                    </div>
                </div>
                <div class="cube_back"></div>
                <div class="cube_left"></div>
                <div class="cube_right"></div>
                <div class="cube_top"></div>
                <div class="cube_bottom"></div>
            </div>
        </div>
    </div>
</body>

</html>