<!DOCTYPE html>
<html>

<head>
    <title>TSA Simulator</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript" src="../../js/profile.js"></script>

</head>
<link rel="stylesheet" type="text/css" href="./style.css">

<body>
    <div id="box1" class="box" clicked="false">
    </div>
    <div id=book_conatianer clicked="false">
        <div id="cube" class="inactive cube hide">
            <div class="cube_inner">
                <div class="cube_front"></div>
                <div class="page_left">
                </div>
                <div class="page_right">
                    <div id="username"></div>
                    <div id="score"></div>
                    <div id="start_game"></div>
                </div>
                <div class="cube_back"></div>
                <div class="cube_left"></div>
                <div class="cube_right"></div>
                <div class="cube_top"></div>
                <div class="cube_bottom"></div>
            </div>
        </div>
    </div>
</body>

</html>